body{
	margin: 0;
}

.container{
	height: 500px;
	background: #0f9bf6;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

.content{
	font-family: Arial;
	text-align: center;
	font-size: 2em;
	color: rgba(255, 255, 255, .8);
}

.waves{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 200px;
}

.circulo{
	width: 100%;
	height: 200px;
	background: rgba(0, 0, 0, .3);
	position: absolute;
	animation: 5s wave infinite alternate;
}

.circulo.b{
	animation-delay: 1s;
}

.circulo.c{
	animation-delay: 2s;
}

@keyframes wave {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(-80px, 30px);
	}
	100% {
		transform: translate(160px, -60px);
	}
}
