body{
	margin: 0;
}

.circulo{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: rgba(0, 0, 0, .5);
	position: absolute;
	animation: 1s wave infinite alternate;
}

.container{
	position: absolute;
}

@keyframes wave {
	0% {
		transform: translateX(0px) translateY(0px);
	}
	100% {
		transform: translateX(200px) translateY(100px);
	}
}
