body{
	margin: 0;
}

.container{
	height: 500px;
	background: #0f9bf6;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

.content{
	font-family: Arial;
	text-align: center;
	font-size: 2em;
	color: rgba(255, 255, 255, .8);
}

.waves{
	position: absolute;
	bottom: -135px;
	height: 527px;
	width: 100%;
}

.wave{
	width: 2402px;
	height: 427px;
	background: url('../images/waves.png') center bottom no-repeat;
	position: absolute;
	animation: 5s wave infinite alternate;
}

.wave.a{
	background-position: 0 -854px;
}

.wave.b{
	background-position: 0 -427px;
	animation-delay: .6s;
}

.wave.c{
	background-position: 0 0px;
	animation-delay: 1.2s;
}

@keyframes wave {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(-80px, 30px);
	}
	100% {
		transform: translate(160px, -60px);
	}
}
